In [1]:
import numpy as np
import pandas as pd

In [2]:
dict = {
        "name":["Ravi", "Kumar", "Shivay", "Pranjal", "Abhay"],
        "marks":[56,55,79,21,39],
        "city":["Agra","Mumbai","Jaipur","Surat","Ahmedabad"],
        }

In [4]:
df = pd.DataFrame(dict)

In [5]:
df

      name  marks       city
0     Ravi     56       Agra
1    Kumar     55     Mumbai
2   Shivay     79     Jaipur
3  Pranjal     21      Surat
4    Abhay     39  Ahmedabad