In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df= pd.read_csv('Marks.csv')
df

     number_courses  time_study   Marks
0                 3       4.508  19.202
1                 4       0.096   7.734
2                 4       3.133  13.811
3                 6       7.909  53.018
4                 8       7.811  55.299
..              ...         ...     ...
96                3       0.301   5.609
97                4       7.163  41.444
98                7       0.309  12.027
99                3       6.335  32.357
100               4       3.210     NaN

[101 rows x 3 columns]

# Info() is a function of Pandas

In [2]:
# Info function is used to tell Number of entries means Rows & Columns | Columns Data types & how many non null columns

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   number_courses  101 non-null    int64
 1   time_study      101 non-null    float64
 2   Marks           100 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 2.5 KB

In [ ]:
# fillna is used to convert NAN value to numeric value | .replace is used to replace value

In [10]:
df["Marks"] = df["Marks"].fillna(3)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   number_courses  101 non-null    int64
 1   time_study      101 non-null    float64
 2   Marks           101 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 2.5 KB